.chalkboard{
background-color: rgba(129, 129, 129, 0.2);
text-align: center; 
}
.restInput{
    margin-bottom: 2%;
}
a.label{
    font-weight: 700;
    color: orangered;
}
#foodSearch{
    height:700px;
	overflow:auto;
	text-align: center;	
}

.card
{
    margin:10px;
}


.card-title{
	color: olivedrab;
    font-size: 1.2em;
    font-weight:bolder;
} 

.card-body
{
	color: goldenrod;
	font-size: 1em;
}

.rest_name
{
    color:black;
	font-size: 1.2em;
}

.sub_title
{
    color: goldenrod;
    font-weight: bolder;
	font-size: 1em;
}