.nav-link
{
	color:grey;
}

.nav-item
{
	color:black;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }


body{
	height: 100vh;
	background-image: url('../images/food_bg.jpeg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.navbar{
	color: orange;
	 /* opacity: .8; */
	font-weight: bolder;
}
		 
.chalkboard{
	/* height: auto; */
	/* background-image: url('https://files.slack.com/files-pri/TEF39F7A5-FHLERV1AR/download/4305843.jpg'); */
	/* background-color: rgba(0,0,0,0.9) */
	background-color: rgba(129, 129, 129, 0.2);

}
#title{
	text-align: center;
}
#hungry{
	/* position: relative;
	left: 35%; */
	margin: auto;
	color: orangered;
	text-align: center;
	
}
#for-apples{
	position: relative;
	left: 15%;
	margin-top: 9%;
}

h1{
	/* font-family: 'Indie Flower', cursive; */
	font-family: 'Homemade Apple', cursive;
	/* font-family: 'Covered By Your Grace', cursive; */
	color:#ffffff;

}

.containerAll{
	border-radius:1%;
	margin-top:4%;
	margin-bottom: 4%;
	/* height: 60%; */
	width:75%;
	background-color: white;
	z-index: -1;
}

/* user input bar */
.input{
	margin-top:5%; 
}
/* #item1{
	background-color: transparent;
	color: orange;
	font-weight:bolder;
	
} */


/* buttons will appear under this div */
#ingredients{
	opacity: .7;
	color: orange;
	font-weight:bolder;
	font-size:1.2em;

}

/*  scroll container for recipes  */
#reciepe_container{
	height:700px;
	overflow:auto;
	text-align: center;		}

.card{
	display: inline-block;
	/*padding: 5%;*/
	width:70%;
	border-radius:3%;
	-webkit-border-radius:3%;
	-moz-border-radius:3%;
	-ms-border-radius:3%;
	-o-border-radius:3%;
}
.card-title{
	color: olivedrab;
	font-size: 1.8em;
} 

.card-text
{
	color: goldenrod;
	font-weight: bolder;
	font-size: 1.4em;
}

.social_media_link
{
	font-size: 0.8em;
}


@media only screen and (max-width: 640px) {

	.add_padding{
	padding:5px;
	}
	
}